.Button {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: 1.7rem;
  padding: 0.4rem 2.5rem;
  border-radius: 0.3rem;
  color: #eee;
  text-align: center;
}

.Button:focus {
  outline: none;
}

.ButtonPaper {
  background-color: #1ab37c;
  border-color: #1ab37c;
  transition: all 0.2s ease-in-out;
}

.ButtonPaper:hover {
  background-color: #1a9b64;
}

.ButtonCode {
  background-color: #1f6bcd;
  border-color: #1f6bcd;
  transition: all 0.2s ease-in-out;
}

.ButtonCode:hover {
  background-color: #1a519b;
}

.ButtonMedia {
  cursor: pointer;
  color: #eee;
  display: inline-block;
  text-decoration: none;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 2.5rem;
  margin-right: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.ButtonMedia:hover {
  color: #1a9b64;
}
